# Untracked files:
#       Documentation/foo.html
#       Documentation/gitignore.html
#       file.o
#       lib.a
#       src/internal.o

.bat
.log
.lck
.ctrl
.DS_Store
.ipynb_checkpoints/
extras/metastore_db/seg0/ce1.dat
*.dat
*.lck
*.crc
*.ctrl
*.properties
*.log
